# vscode settings
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# dependencies
node_modules/

# lock files
package-lock.json
yarn.lock

# output
dist/
out/
release/

# test
coverage/

# misc
.npmrc
.tsbuildinfo*
.rollup.cache
.report
.claude
GEMINI.md
CLAUDE.md
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 임시 파일
front-old/
tsconfig.app.tsbuildinfo
docs/