.theme-light {}

.theme-dark {
    --bgcolor: oklab(20% 0 -0.00002);
    --bgcolor-secondary: oklab(28% 0 -0.00003);
    --bgcolor-highlight: var(--bgcolor-highlight-1);

    --bgcolor-highlight-1: oklab(30% 0 -0.00003);
    --bgcolor-highlight-2: oklab(36% 0 -0.00003);
    --bgcolor-highlight-3: oklab(40% 0 -0.00003);
    --bgcolor-highlight-4: oklab(45% 0 -0.00003);

    // --bgcolor-well: rgb(54, 54, 54);
    --bgcolor-well: var(--bgcolor-highlight-2);
    --bgcolor-well-item: oklab(30% 0 -0.00003);
    --bgcolor-well-item-dim: oklab(26% 0 -0.00003);
    --bgcolor-well-highlight: rgb(54, 54, 54);
    // --bgcolor-highlight: oklab(36% 0.00012 -0.00534);

    /* 그라데이션 세션 배경 색상 */
    --bgcolor-red: rgba(255, 0, 0, 0.1);
    --bgcolor-orange: rgba(255, 77, 0, 0.1);
    --bgcolor-yellow: rgba(255, 255, 0, 0.1);
    --bgcolor-lime: rgba(26, 255, 0, 0.1);
    --bgcolor-green: rgba(132, 255, 0, 0.1);
    --bgcolor-aqua: rgba(0, 247, 255, 0.1);
    --bgcolor-blue: rgba(36, 153, 255, 0.1);
    --bgcolor-purple: rgba(64, 0, 255, 0.1);
    --bgcolor-reset: var(--bgcolor);
}