$item-bgcolor: rgb(36, 36, 36);
$item-bgcolor: oklab(26.033% 0 -0.00003);
$item-selected-bgcolor: rgb(46, 46, 46);
$item-selected-bgcolor: oklab(30% 0 -0.00003);

.rt-template-item {
    width: 100%;
    height: 3em;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.1s ease, color 0.1s ease;
    gap: 0.5em;

    :global {
        .description {
            // transition: color 0.1s ease;
            color: var(--text-color-dim-4);
        }
    }

    &:global(.selected) {
        background-color: var(--bgcolor-highlight-2);
        color: var(--text-color);

        :global {
            .description {
                color: var(--text-color-dim-3);
            }
        }
    }
}