$list-bgcolor: rgb(54, 54, 54);
$item-bgcolor: rgb(36, 36, 36);
$item-color: rgb(168, 168, 168);
$item-selected-bgcolor: rgb(46, 46, 46);
$item-selected-color: rgb(255, 255, 255);
$item-hover-bgcolor: rgb(61, 61, 61);

.rt-template-list {
    background-color: $list-bgcolor;
    border-radius: 4px;

    .rt-template-item {
        width: 100%;
        height: 3em;
        padding: 8px;
        box-sizing: border-box;
        cursor: pointer;
        background-color: $item-bgcolor;
        color: $item-color;
        transition: background-color 0.1s ease;
        gap: 0.5em;

        &.selected {
            background-color: $item-selected-bgcolor;
            color: $item-selected-color;
        }

        &:hover {
            background-color: $item-hover-bgcolor;
        }
    }
}