.workflow-editor {
    font-size: 18px;
    display: grid;
    grid-template-rows: 1fr calc(min(40%, 256px));
    grid-template-columns: auto;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}