.sidebar {
    background-color: rgb(34, 34, 37);
    border: 1px solid rgb(69, 69, 75);
    border-radius: 4px;
    padding: 8px 8px;

    position: absolute;
    right: 8px;
    top: 8px;
    width: 350px;
}